{% extends 'base_site.html' %}

{% block title %}Access Page{% endblock %}

{% block extra-script %}

    <script type="text/javascript">
        function Redirect() {
            window.location = "{% url 'rfid:access_result' %}";
        }
        setTimeout('Redirect()', 1000);
    </script>

{% endblock %}


{% block content %}

    <h1>Access</h1>

    <p>Scan your card...</p>

    <p>Page should redirect to card scanning.<br>
        If not working <a class="text-primary" href="{% url 'rfid:access_result' %}">click here</a></p>

    <a class="btn btn-primary" href="{% url 'login' %}">Log in</a>

{% endblock %}
