{% extends 'base_site.html' %}

{% block extra-script %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart', 'controls']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
           {#var django_data = {{ array|safe }};#}
           {# var data = google.visualization.arrayToDataTable(djangoData);#}

            var data = google.visualization.arrayToDataTable([
              ['Name', 'Donuts eaten', 'Day'],
              ['Michael' , 5, 1],
              ['Elisa', 7, 1],
              ['Robert', 3, 3],
              ['John', 2, 2],
              ['Jessica', 6, 7],
              ['Aaron', 1, 6],
              ['Margareth', 8, 1]
            ]);

            var dashboard = new google.visualization.Dashboard(
                document.getElementById('dashboard_div')
            );

            var donutRangeSlider = new google.visualization.ControlWrapper({
                'controlType': 'NumberRangeFilter',
                'containerId': 'filter_div',
                'options': {
                    'filterColumnLabel': 'Donuts eaten'
                }
            });

            var donutCategoryFilter = new google.visualization.ControlWrapper({
                'controlType': 'CategoryFilter',
                'containerId': 'filter_category_div',
                'options': {
                    'filterColumnLabel': 'Day',
                    'allowMultiple': true,
                    'allowTyping': false,
                    'showRangeValues': false
                }
            });

            var pieChart = new google.visualization.ChartWrapper({
                'chartType': 'ColumnChart',
                'containerId': 'chart_div',
                'options': {
                    'width': 1000,
                    'height': 500,
                    'pieSliceText': 'value',
                    'legend': 'right',
                    'isStacked': true
                }
            });

            dashboard.bind([donutRangeSlider, donutCategoryFilter], pieChart);

            dashboard.draw(data);
        }
    </script>
{% endblock %}

{% block title %}Dashboard{% endblock %}

{% block content %}

    <h1>Dashboard</h1>

    <div id="dashboard_div">
        <div id="filter_div"></div>
        <div id="filter_category_div"></div>
        <div id="chart_div"></div>
    </div>

{% endblock %}