{% extends 'base_site.html' %}

{% block extra-script %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart', 'controls']});
        google.charts.setOnLoadCallback(drawDashboard);

        function drawDashboard() {

            {# FIXME sort chart to display days in order. sexFilter caption does not work#}
            {# TODO Make chart use var options defined outside the function drawChart()#}

            var djangoData = {{ array|safe }};
            var data = google.visualization.arrayToDataTable(djangoData);

            drawChart(data);

            var hourFilter = new google.visualization.ControlWrapper({
               controlType: 'NumberRangeFilter',
               containerId: 'filter_hour_div',
               dataTable: data,
               options: {
                   filterColumnIndex: 1
               }
            });

            google.visualization.events.addListener(hourFilter, 'statechange', stateChangeHandler);

            hourFilter.draw();
            
            var sexFilter = new google.visualization.ControlWrapper({
                controlType: 'CategoryFilter',
                containerId: 'filter_sex_div',
                dataTable: data,
                options: {
                    filterColumnIndex: 2,
                    'allowMultiple': true,
                    'allowTyping': true,
                    'caption': 'Choose sex'
                }
            });
            
            google.visualization.events.addListener(sexFilter, 'statechange',stateChangeHandler);

            sexFilter.draw();

            var ageFilter = new google.visualization.ControlWrapper({
               controlType: 'NumberRangeFilter',
               containerId: 'filter_age_div',
               dataTable: data,
               options: {
                   filterColumnIndex: 3
               }
            });

            google.visualization.events.addListener(ageFilter, 'statechange', stateChangeHandler);

            ageFilter.draw();

            var options = {
                    'width': 1000,
                    'height': 500,
                    'legend': 'right',
                    'title': 'Number of accesses'
                };

            function drawChart(dataTable) {
                var dataGroup = google.visualization.data.group(
                    dataTable,
                    [0],
                    [{column: 1, aggregation: google.visualization.data.count, type: 'number', label: 'Count'}]
                );

                var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
                chart.draw(dataGroup, {'width': 1000,
                    'height': 500,
                    'legend': 'right',
                    'title': 'Number of accesses'});
            }

            function stateChangeHandler() {
                var sexSelection = sexFilter.getState();
                var hourRange = hourFilter.getState();
                var ageRange = ageFilter.getState();
                var view = new google.visualization.DataView(data);
                view.setRows(data.getFilteredRows([
                    {
                        column: 1,
                        minValue: hourRange.lowValue,
                        maxValue: hourRange.highValue
                    },
                    {
                        column: 2,
                        test: function (value) {
                            return sexSelection.selectedValues.includes(value) ||
                                    sexSelection.selectedValues.length === 0
                        }
                    },
                    {
                        column: 3,
                        minValue: ageRange.lowValue,
                        maxValue: ageRange.highValue
                    }
                ]));
                drawChart(view);
            }
        }
    </script>
{% endblock %}

{% block title %}Dashboard{% endblock %}

{% block content %}

    <h1>Dashboard</h1>

    <div id="dashboard_div">
        <div id="filter_age_div"></div>
        <div id="filter_hour_div"></div>
        <div id="filter_sex_div"></div>
        <div id="chart_div"></div>
    </div>

{% endblock %}