{% extends 'base.html' %}

{% block content %}

{# BOOTSTRAP CARDS #}
    <div class="row">
      <div class="col-sm">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Write</h5>
            <p class="card-text">Write data on an existing card.</p>
            <a href="{% url 'rfid:write_card_scan' %}" class="btn btn-primary">Go</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Add</h5>
            <p class="card-text">Add card to the database</p>
            <a href="{% url 'rfid:add_card_scan' %}" class="btn btn-primary">Go</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Access</h5>
            <p class="card-text">Client access page</p>
            <a href="{% url 'rfid:access_main' %}" class="btn btn-primary">Go</a>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
