{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
    $( function() {
    $( "#datepicker" ).datepicker({
        dateFormat: "yy-mm-dd"
    });

    } );
    </script>

    {% block title %}Write new accesses on card{% endblock %}

    {#{% if messages %}#}
    {#    <script>#}
    {#        {% for message in messages %}#}
    {#            alert("{{ message }}");#}
    {#        {% endfor %}#}
    {#    </script>#}
    {#{% endif %}#}

    <form action="{% url 'rfid:write_card' %}" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Submit" class="btn btn-success">
    </form>

{% endblock %}


