{% load staticfiles %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'rfid/css/bootstrap.min.css' %}">
    <script src="{% static 'rfid/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'rfid/js/popper.min.js' %}"></script>
    <script src="{% static 'rfid/js/bootstrap.min.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'rfid/mystyle.css' %}" media="screen"/>

    <title>{% block title %}Home{% endblock %} | Smart Access</title>

    {% block extra-script %}
    {% endblock %}

</head>

<body>

{% block nav %}
{% endblock %}

<div class="container">
    <div class="row justify-content-center mt-auto">
    {% block outer %}
        <div class="col-lg-8">
            {% block content %}
            {% endblock %}
        </div>
    {% endblock %}
    </div>
</div>

</body>
</html>