{% extends 'base.html' %}

{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'rfid:index' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'rfid:access_main' %}">Access</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Management
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'rfid:write_card_scan' %}">Write Card</a>
                        <a class="dropdown-item" href="{% url 'rfid:add_card_scan' %}">Add Card</a>
                        <a class="dropdown-item" href="{% url 'rfid:info_card_scan' %}">Card Info</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'rfid:delete_card_scan' %}">Delete Card</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Statistics
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'rfid:dashboard' %}">Dashboard</a>
                        <a class="dropdown-item disabled" href="{% url 'rfid:logs' %}">Logs</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <span class="navbar-text">Hi {{ user.username }}, </span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin:logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="navbar-link" href="{% url 'admin:login' %}">Log In</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock %}